Repository carhartl/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, shellcheck, shfmt, yamllint

prettier:
  tags: style glue
  stage_fixed: true
  run: npx --yes prettier --write {staged_files}

shellcheck:
  tags: lint shell
  run: shellcheck {staged_files}

shfmt:
  tags: style shell
  stage_fixed: true
  run: shfmt -w {staged_files}

yamllint:
  tags: lint yaml
  run: 'yamllint -d "{extends: default, rules: {line-length: {max: 120}, comments: disable}}" {staged_files}
  
    '

Make `2date` return UTC date
  bin/2date
Due: shellcheck, shfmt

Fix loading irb
  .irbrc
Due: none

Remove Devbox
  .localrc.example
  .zshrc
  install/devbox.sh
Due: none

Remove obsolete config from irbrc
  .irbrc
Due: none

Fix Go packages installation
  install/go.sh
Due: none

Adapt for default Go installation
  zsh/go.zsh
Due: none

Add `git-unsaved` bin
  bin/git-unsaved
Due: shellcheck, shfmt

Adapt Git config for PR stacking
  .gitconfig
Due: none

Allow uncommitted ssh config via include
  .gitignore
  .ssh/config
Due: none

Add missing newline eof in ssh config
  .ssh/config
Due: none

Configure zsh to complete aliases
  zsh/config.zsh
Due: none

Fix path setup for Go
  zsh/go.zsh
Due: none

Add git-commit-template to Homebrew packages
  .Brewfile
Due: none

Add Git aliases for managing message template
  .gitconfig
Due: none

Add convenient alias for current timestamp
  zsh/aliases.zsh
Due: none

Add git-wip
  .Brewfile
  bin/git-unsaved
Due: shellcheck, shfmt

Fix mise setup
  .zshrc
Due: none

Avoid using deprecated mise feature
  .config/mise/config.toml
Due: none

Remove kubectl from mise config
  .config/mise/config.toml
Due: none

Add initial Ghostty setup
  .Brewfile
  .config/ghostty/config
  .config/ghostty/themes/Hyper
Due: none

Make theme's color codes consistent
  .warp/themes/hyper.yaml
Due: prettier, yamllint

Remove Warp setup
  .Brewfile
  .warp/themes/hyper.yaml
Due: prettier, yamllint

Add some keybindings for Ghostty
  .config/ghostty/config
Due: none

Adapt Ghostty keybindings to match Terminal
  .config/ghostty/config
Due: none

Add mitigation/defense-in-depth for CVE-2024-56803
  zsh/config.zsh
Due: none

Revert "Add direnv setup"
  .Brewfile
  .zshrc
Due: none

Revert "Fix VS Code not picking up mise installs"
  .zlogin
Due: none

Bring back mise's "PATH" activation method
  .localrc.example
  .zshrc
Due: none

Fix Homebrew-based installation for Ghostty
  .Brewfile
Due: none

Tweak zed config
  .config/zed/settings.json
Due: prettier

Fix copy on select config for Ghostty
  .config/ghostty/config
Due: none

Let Git ignore local mise configs
  .config/git/ignore
Due: none

Fix pet not loading snippet file
  .config/pet/config.toml
Due: none

Update pet config
  .config/pet/config.toml
Due: none

Tweak Git config
  .gitconfig
  bin/git-promote
Due: shellcheck, shfmt

Update Brewfile, eliminate warnings
  .Brewfile
Due: none

Remove Git column ui config
  .gitconfig
Due: none

Add keymapping tweak for Zed
  .config/zed/keymap.json
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yaml}
  shellcheck: any of: bin/*
  shfmt: any of: bin/*
  yamllint: any of: *.yaml
