Repository carhartl/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, shellcheck, shfmt, yamllint

prettier:
  tags: style glue
  stage_fixed: true
  run: npx --yes prettier --write {staged_files}

shellcheck:
  tags: lint shell
  run: shellcheck {staged_files}

shfmt:
  tags: style shell
  stage_fixed: true
  run: shfmt -w {staged_files}

yamllint:
  tags: lint yaml
  run: 'yamllint -d "{extends: default, rules: {line-length: {max: 120}, comments: disable}}" {staged_files}
  
    '

Tweak keybing for Ghostty's quick terminal
  .config/ghostty/config
Due: none

Add keybinds for navigating splits in Ghostty
  .config/ghostty/config
Due: none

Remove tmux setup
  .Brewfile
  .gitmodules
  .tmux.conf
  .zshrc
  install/tmux.sh
Due: none

Change keybind for Ghostty quick terminal toggle
  .config/ghostty/config
Due: none

Configure Zed's git blame to show avatar
  .config/zed/settings.json
Due: prettier

Add hstr for curating shell history
  .Brewfile
  .localrc.example
Due: none

Revert "Add function for curating shell history"
  zsh/functions/smite
Due: none

Add gitleaks to Brewfile
  .Brewfile
Due: none

Update a variety of Zed settings
  .config/zed/settings.json
Due: prettier

Update docker desktop cask name
  .Brewfile
Due: none

Configure default agent profile for Zed
  .config/zed/settings.json
Due: prettier

Add mksh bin for quickly creating shell scripts
  bin/mksh
Due: shellcheck, shfmt

Add notify bin
  bin/notify
Due: shellcheck, shfmt

Use portable bash shebang, consistently
  bin/git-fixmes
  bin/git-sweep
  bin/git-todos
  bin/iso8601
Due: shellcheck, shfmt

Tidy up bins for consistency
  bin/+x
  bin/bootstrap
  bin/git-conflicts
  bin/git-edit-conflicts
  bin/git-fixmes
  bin/git-nuke
  bin/git-todos
  bin/git-up
  bin/iso8601
  bin/macos
  bin/mksh
  bin/notify
  bin/ports
  bin/prune-dirs
  bin/treed
  bin/trunc
  bin/uniqsort
Due: shellcheck, shfmt

Tidy up Zsh functions
  bin/nuke
  zsh/functions/cdf
  zsh/functions/fs
  zsh/functions/ggb
  zsh/functions/i
  zsh/functions/nuke
  zsh/functions/tm
Due: shellcheck, shfmt

Install Ruby extension automatically in Zed
  .config/zed/settings.json
Due: prettier

Disable running Terraform through Prettier in Zed
  .config/zed/settings.json
Due: prettier

Change Zed theme to GitHub Light
  .config/zed/settings.json
Due: prettier

Set up Zed for using comments extension
  .config/zed/settings.json
Due: prettier

Tidy up Zed's ruff config
  .config/zed/settings.json
Due: prettier

Remove Firefox Homebrew cask
  .Brewfile
Due: none

Fix format on save for Go in Zed
  .config/zed/settings.json
Due: prettier

Make Prettier opt-in instead of opt-out in Zed
  .config/zed/settings.json
Due: prettier

Fix executing command selected via fzf from pet
  .config/pet/config.toml
Due: none

Tweak pet config
  .config/pet/config.toml
Due: none

Set up npm to not run scripts globally
  .npmrc
Due: none

Enable sticky scroll in Zed
  .config/zed/settings.json
Due: prettier

Add sd to Homebrew packages
  .Brewfile
Due: none

Start my own Zed theme
  .config/zed/themes/hyper.json
Due: prettier

Set up uv to run arbitrary code when installing
  uv.toml
Due: none

Enable rainbow brackets in Zed
  .config/zed/settings.json
Due: prettier

Adapt custom Zed keybindings after release
  .config/zed/keymap.json
Due: prettier

Revert "Start my own Zed theme"
  .config/zed/themes/hyper.json
Due: prettier

Remove default Ruby gems
  .default-gems
Due: none

Run cleanup as part of updating ruby
  zsh/aliases.zsh
Due: none

Update setting for using uvx in mise
  .config/mise/config.toml
Due: none

Remove defunct Zed setting
  .config/zed/settings.json
Due: prettier

Prevent Zed adding trailing comma for JSONC
  .config/zed/settings.json
Due: prettier

Fix typo in Zed extension name
  .config/zed/settings.json
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yaml}
  shellcheck: any of: bin/*
  shfmt: any of: bin/*
  yamllint: any of: *.yaml
