Repository carhartl/dotfiles: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, shellcheck, shfmt, yamllint

prettier:
  tags: style glue
  stage_fixed: true
  run: npx --yes prettier --write {staged_files}

shellcheck:
  tags: lint shell
  run: shellcheck {staged_files}

shfmt:
  tags: style shell
  stage_fixed: true
  run: shfmt -w {staged_files}

yamllint:
  tags: lint yaml
  run: 'yamllint -d "{extends: default, rules: {line-length: {max: 120}, comments: disable}}" {staged_files}
  
    '

Enable Hyper theme in Zed as standard
  .config/zed/settings.json
Due: prettier

Fix Zed closing pane instead of preview tab
  .config/zed/keymap.json
Due: prettier

Tweak Zed settings further
  .config/zed/settings.json
Due: prettier

Add snitch to Homebrew bundle
  .Brewfile
Due: none

Set up ty as Python language server
  .Brewfile
  .config/zed/settings.json
Due: prettier

Update deprecated Zed config for edit predictions
  .config/zed/settings.json
Due: prettier

Fix Zed config theme name
  .config/zed/settings.json
Due: prettier

Mention local SSH config in readme
  README.md
Due: prettier

Configure dependency cooldown globally for uv
  uv.toml
Due: none

Set minimum release age for npm install
  .npmrc
Due: none

Remove redundant Zed config for GitHub Copilot
  .config/zed/settings.json
Due: prettier

Configure GitHub Copilot as edit prediction w/ Zed
  .config/zed/settings.json
Due: prettier

Enable staticcheck as part of gopls in Zed
  .config/zed/settings.json
Due: prettier

Add Homebrew formula for ruff
  .Brewfile
Due: none

Update Ghostty settings following 1.3.0 release
  .config/ghostty/config
Due: none

Set up Java dev env for Zed
  .config/mise/config.toml
  .config/zed/settings.json
Due: prettier

Use homebrew for installing Go packages
  .Brewfile
  .default-go-packages
  install/go.sh
Due: none

Add Go packages used for development in Zed
  .Brewfile
Due: none

Tweak Lefthook config for using shfmt w/ zsh
  .lefthook.yaml
Due: prettier, yamllint

Run zsh source through shfmt
  .zlogin
  .zshrc
  zsh/config.zsh
  zsh/docker.zsh
  zsh/functions/c
  zsh/functions/cdf
  zsh/functions/dots
  zsh/functions/mkd
  zsh/git.zsh
  zsh/pet.zsh
Due: none

Align Zed shell script conf for out of box shfmt
  .config/zed/settings.json
Due: prettier

Remove no longer required Ghostty CVE mitigation
  zsh/config.zsh
Due: none

Fix shfmt not applying zsh dialect for zsh config
  .editorconfig
Due: none

Make shfmt apply zsh dialect for zsh functions
  .editorconfig
Due: none

Use .zprofile instead of .zlogin
  .zprofile
Due: none

Remove unnecessary exporting of PATH in .zprofile
  .zprofile
Due: none

Be more precise when loading zsh config files
  .zshrc
Due: none

Configure Ghostty bell to play system sound
  .config/ghostty/config
Due: none

Minimize Zed's Ruby setup
  .config/zed/settings.json
Due: prettier

Add zizmor Homebrew package
  .Brewfile
Due: none

Retire lefthook, introduce hk
  .Brewfile
  .config/zed/settings.json
  .lefthook.yaml
  .yamllint
  hk.pkl
Due: prettier, yamllint

Fix outdated Zsh config file reference
  .editorconfig
Due: none

Make hk shfmt linter work for Zsh config files
  hk.pkl
Due: none

Add EditorConfig extension to Zed auto installs
  .config/zed/settings.json
Due: prettier

Configure Zed to use Google Java Style
  .config/zed/settings.json
Due: prettier

Remove superfluous config for shfmt format in Zed
  .config/zed/settings.json
Due: prettier

Remove workarounds for shfmt to work with zsh
  .editorconfig
  hk.pkl
Due: none

Add missing newline EOF for ruby script
  bin/2date
Due: shellcheck, shfmt

Make hk work more reliably with shell sources
  hk.pkl
Due: none

Configure Zed to install Codex ACP from registry
  .config/zed/settings.json
Due: prettier

Path conditions:
  prettier: any of: *.{json,md,yaml}
  shellcheck: any of: bin/*
  shfmt: any of: bin/*
  yamllint: any of: *.yaml
